<mat-accordion class="headers-align BoxShadow">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Find your Store
      </mat-panel-title>
      <mat-panel-description>
        Choose where to buy
        <mat-icon>store</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>   

      <form >
          <button mat-raised-button color="primary" (click)="nearByLocation()">Watch My Location <mat-icon>location_searching</mat-icon></button>
        <button mat-raised-button color="primary" (click)="nearByLocation()">Nearby <mat-icon>location_searching</mat-icon></button>
        &emsp;<label> Or</label>&emsp;

          <mat-form-field >
            <input type="text" placeholder="Store Names" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <label>Latitude: {{location.latitude}}</label>
          <label>Longitude: {{location.longitude}}</label>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next <mat-icon>forward</mat-icon></button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Choose your food
      </mat-panel-title>
      <mat-panel-description>
        Choose what to eat
        <mat-icon>room_service</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Country">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next <mat-icon>forward</mat-icon></button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Delivery option
      </mat-panel-title>
      <mat-panel-description>
        Tell us how and when you need your food to be delivered
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date"
      [value]="date.value" disabled>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>